body {
    margin: 12px;
    font-family: sans-serif;
    padding: 50px 0;
}

.header-button {
    float: right;
    border-radius: 50%;
}
.header-button:hover {
    background: rgba(123,123,123,0.2);
}

.header-button img {
    vertical-align: bottom;
    padding: 12px;
}

#avatar {
    border-radius: 50%;
    /* margin: 0 auto; */
    display: block;
    outline: 1px solid rgba(256,256,256,0.65);
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
    position: relative;
    top: -50px;
}

#greeting {
    display: block;
    margin: 0 auto;
}

.card {
    padding: 20px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
    border: 1px solid lightgray;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    background: white;
    /* background-image: linear-gradient(to bottom right, transparent, rgba(0,0,0,0.05)); */
}

.card:not(:last-child):not(#last-card)::after{
    content: '';
    min-height: 41px;
    min-width: 1px;
    width: 1px;
    background-color: lightgray;
    position: absolute;
    top: calc(100% + 1px);
    display: block;
    margin: 0 auto;
}

.category-title{
    margin-block-start: 0;
}

.inner {
    border: 1px solid lightgray;
    padding: 8px;
    width: 200px;
    min-width: 200px;
    border-radius: 4px;
    cursor: pointer;
    background: Background;
}

.inner:hover {
    background: rgba(126,126,126,0.2);
}

.inner .thumbnail {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid lightgray;
}

.logo {
    height: 25px;
    margin-right: 8px;
    vertical-align: bottom;
}

.inner .title {
    margin-bottom: 6px;
    margin-top: 0px;
    text-wrap: nowrap;
}

.inner .description {
    opacity: 0.6;
    font-size: smaller;
}

ul.horizontal-list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    overflow: auto;
    padding-bottom: 12px;
    padding-right: 15px;
    /* mask-image: linear-gradient(to left, transparent, white 3ch); */
} 

ul.horizontal-list li { 
    margin-right: 10px; 
}

a:has(li) {
    text-decoration: none;
    color: inherit;
}

#last-card a {
    margin-right: 8px;
}

.badge {
    margin-top: 4px;
    margin-right: 4px;
}

.arrow {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    cursor: pointer;
    background: inherit;
    border: inherit;
    border-radius: 50%;
    padding: 6px;
    height: 30px;
    width: 30px;

    font-size: 25px;
    text-align: center;
    color: rgb(120,120,120);
}
.arrow:hover {
    background: rgba(126,126,126,1);
}
.arrow-left {
    left: -22px;
}
.arrow-right {
    right: -22px;
}
.arrow-icon{
    height: 90%;
    width: 90%;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(40,41,44);
        color: white;
    }
    .card {
        background-color: rgba(256,256,256,0.05);
        background-color: rgb(50, 50, 50);
        border: 1px solid gray;
    }
    .inner {
        background-color: rgba(256,256,256,0.1);
        background-color: rgb(60, 60, 60);
        border: 1px solid gray;
    }
    .card:not(:last-child):not(#last-card)::after{
        background-color: gray;
    }
    #github-button {
        filter: invert(1)
    }
}

/* Wave animation  */
.waves {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:50%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:30%;
    max-height:65%;
    z-index: -1;
    /* transform:rotate(45deg) scale(2.0) */
}
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 12s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 15s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 18s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/*Shrinking for mobile*/
/* @media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
} */
/* @media (max-width: 1000px) {
    body{
       font-size: 1.75vh;
    }

    .card {
       max-width: 100%;
       margin: 0 16px;
        margin-top: 40px;
    }

    .inner {
        width: 400px;
        height: 400px;
    }
} */