#header {
    border-bottom: 1px solid lightgray;
    padding: 8px;
}

#container {
    background: rgba(123,123,123,0.25);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    width: fit-content;
}

#logo {
    margin: 12px 0;
}

#address {
    background: Background;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    display: block;
    user-select: all; 
    cursor: pointer;
}

#qr {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}