#header {
    border-bottom: 1px solid lightgray;
    padding: 8px;
}

#header a {
    text-decoration: none;
    text-align: center;
}

#container {
    background: rgba(123,123,123,0.25);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    width: fit-content;
    margin: 0 auto;
}

#logo {
    margin: 48px auto 16px;
}

#address {
    background: Background;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    display: block;
    user-select: all; 
    cursor: pointer;
}

#qr {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

#copy {
    pointer-events: none;
    opacity: 0.65;
    height: 100%;
    vertical-align: bottom;
}